

body{
    font-family: 'Inter', sans-serif;
}
.bgImage{
    background-image: url("public/background.jpg");
    background-repeat: no-repeat;
}

.container{background-color: rgba(24,24,24,0.5);
            padding: 20px;
            border-radius: 10px;
            border: #2b2b2b solid 1px;
            transition: all 0.1s;
            /* backdrop-filter: blur(10px); */
}


.icon svg{fill: white; transition: all 0.1s;}
.projets:hover .icon svg{transform: scale(1.5) !important; fill: rgb(29 78 216) !important;}


p{font-weight: 300;}   
ul li{list-style-type: circle; margin-left: 20px; padding-bottom: 2px;}     
.home a{margin: 5px; border: rgb(29 78 216) solid 1px; padding:10px 20px 10px 20px; border-radius: 10px;} 

.adjectifs{display: flex; flex-direction:row; gap:5px; flex-wrap: wrap;}

.gradient{
    vertical-align: middle;
    padding: 6px;
    border: 1px solid black !important;

    border-image-slice: 1 !important;
    border-width: 1px !important;
    transition: all .1s;}

.gradient:hover{
    border-image-source: linear-gradient(to right, #743ad5, #d53a9d) !important;
}

.reseaux{margin: 10px 0 0 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;}

#pseudo{
        background: -webkit-linear-gradient(0deg, #ffa745 0%, #fe869f 30%, #ef7ac8 45%, #a083ed 70%, #43aeff 85%);
        -webkit-background-clip: text;
        background-size: 200% 200%;
-webkit-text-fill-color: transparent;
animation: gradient 5s ease infinite;
font-size: 4em;
}

@keyframes gradient {
0% {background-position: 0% 50%;}
50% {background-position: 100% 50%;}
100% {background-position: 0% 50%;}
}

a:hover{color: #43aeff;transition: all 0.1s;}


@media (max-width: 768px) { .bgImage{background-size: cover;} }